---
const { event } = Astro.props;
---

<article>
  <div class="div-1_2">
    <div>
      <img
        src={`/img/${event.img}`}
        alt="stemningsbillede fra tidligere events"
      />
    </div>
    <div class="div_description">
      <p>{event.location}</p>
      <h2>{event.title}</h2>
      <p>{event.date} - {event.start}-{event.end}</p>
      <div class="button">
        <a href=`/events/${event.slug}`>Læs mere</a>
      </div>
    </div>
  </div>
</article>

<style>
  article {
    margin: 20px;
  }

  img {
    width: 100%;
    height: auto;

    /* nyt fis */
    aspect-ratio: 1 / 1; /* Sørger for, at billeder er kvadratiske */
    object-fit: cover; /* Tilpasser billedet, så det udfylder rammen */
  }

  @media (min-width: 800px) {
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: auto; /* Fjern det kvadratiske format */
      object-fit: unset; /* Ingen beskæring, billedet vises som det er */
    }
  }

  .div-1_2 {
    object-fit: cover;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    color: #233249;
    margin: 10px 0 30px 0;
  }

  .div_description {
    position: relative;
    background-color: white;
    padding: 10px;
  }

  article {
    margin: 20px 20px 50px 20px;
  }

  a {
    position: absolute;
    background-color: #233249;
    border: 1px solid black;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    height: 20px;
    width: 90px;
    text-decoration: none;
    bottom: -18px;
  }

  a:hover {
    color: #ffffff;
    background-color: #79bf80;
  }

  .button {
    display: flex;
    justify-content: right;
    padding-right: 25px;
  }

  @media (min-width: 800px) {
    img {
      width: 80%;
      height: auto;
    }

    .div-1_2 {
      width: 90%;
      margin: 0 50px 0 50px;
    }

    .div_description {
      margin: 0 0 0 30px;
    }

    a {
      padding: 15px 30px 15px 30px;
    }
  }
</style>
